################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IceCreamGameTake4/.vs/IceCreamGameTake4/v15/.suo
/IceCreamGameTake4
/IceCreamGameTake4
/MathGameIceCream3.0/.vs/MathGameIceCream3.0/v15/.suo
