################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IceCreamGameTake4/.vs/IceCreamGameTake4/v15/.suo
